{% extends "header.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    <!-- Container -->
    <div class="container py-5">
        <!-- Search -->
        <form method="GET" class="py-2">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" type="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>

        {% render_table table %}

        <!-- Add -->
        <a 
            href="/trip/add" 
            class="btn btn-outline-success my-2 my-sm-0 mr-3" 
            type="button"
        >
            Add
        </a>
    </div>
    <!-- Container -->  
{% endblock %}