{% extends "header.html" %}

{% load static %}

{% block content %}
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Navbar brand -->
			<a class="navbar-brand" href="#">
				<img 
					src="{% static 'images/icon_large.svg' %}" 
					width="30" 
					height="30" 
					class="d-inline-block align-top" 
					alt=""
				>
				Trail Tracker
			</a>

			<!-- Container right justify -->
			<div class="row justify-content-end">
				<!-- Search -->
				<form class="form-inline mr-4">
					<input 
						class="form-control mr-2" 
						type="search" 
						placeholder="Search" 
						aria-label="Search"
					>
					<button 
						class="btn btn-outline-success my-2 my-sm-0" 
						type="submit"
					>
						Search
					</button>
				</form>

				<!-- Logout -->
				<a 
					href="/logout" 
					class="btn btn-outline-secondary my-2 my-sm-0 mr-3" 
					type="button"
				>
					Logout
				</a>
			</div>
			<!-- Container right justify -->

		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->

	<!-- Container -->
	<div class="container py-5">
		<h1>CONTENT GOES HERE</h1>
	</div>
	<!-- Container -->  
{% endblock %}